<div class="container">
    <div class="row align-items-center"">
        <div class="col">
            <button type="button" class="btn btn-success" id="getVideos">Update List</button>
<button type="button" class="btn btn-success">Add New</button>
<button type="button" class="btn btn-success">Add Bulk</button>
</div>
</div>
</div>