<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <% include partials/nav %>
    </nav>
    <div class="container" role="main">
        <div class="row align-items-center py-2">
            <div class="col">
                <span id='displayedCount' class='float-left font-weight-bold my-auto mx-auto text-center'>Settings</span>
            </div>
        </div>
        <div class="row" id="mainList">
            <div class="col">
                <div class="bd-example">
                        <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                  Editors
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Jordan Mulholland</li>
                                  <li class="list-group-item">Jade</li>
                                  <li class="list-group-item">And Another</li>
                                </ul>
                              </div>

                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <% include partials/footer %>
        </footer>
</body>

</html>